{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href={% static "/css/index.css" %}>
    <title>Scrumster</title>
</head>

<body>
    <div class="whole-bag">
        <h1 class="header">Scrumster
        </h1>
        <div class="btns">
            <form action="/alt" method="POST" class="scrum-alt">
                {% csrf_token %}
                <input type="text" name="task" placeholder="task" id="nameo">
                <select id="prio" name="mode">
                    <option value="workpool">workpool</option>
                    <option value="working">working</option>
                    <option value="finished">finished</option>
                  </select>
                <input type="submit" value="change">
            </form>
            <img src={% static "/rcs/plus.svg" %} class="plus btn" alt="">

            <img src={% static "/rcs/refresh.svg" %} class="refresh btn" alt="">

        </div>
        <div class="scrum-container">
            <div class="scrum-boxes">
                <div class="scrum-top">
                </div>
                <div class="scrum-box">
                    <h3 class="status">Workpool</h3>
                    <div class="task-cont">
                        {% for da in workpool %}
                        <span {% if da.priority is 0 %} class="box a0" {% elif da.priority is 1 %} class="box a1" {% elif da.priority is 2 %} class="box a2" {% else %} class="box a3" {% endif %}>{{da.task}}</span> {% endfor %}
                    </div>

                </div>
            </div>
            <div class="scrum-boxes">
                <div class="scrum-top"></div>
                <div class="scrum-box">
                    <h3 class="status">Working</h3>
                    <div class="task-cont">
                        {% for da in working %}
                        <span {% if da.priority is 0 %} class="box a0" {% elif da.priority is 1 %} class="box a1" {% elif da.priority is 2 %} class="box a2" {% else %} class="box a3" {% endif %}>{{da.task}}</span> {% endfor %}
                    </div>
                </div>
            </div>
            <div class="scrum-boxes">
                <div class="scrum-top">
                </div>
                <div class="scrum-box">
                    <h3 class="status">Finished</h3>
                    <div class="task-cont">
                        {% for da in finished %}
                        <span {% if da.priority is 0 %} class="box a0" {% elif da.priority is 1 %} class="box a1" {% elif da.priority is 2 %} class="box a2" {% else %} class="box a3" {% endif %}>{{da.task}}</span> {% endfor %}
                    </div>

                </div>
            </div>
        </div>
        <div id="form-thing" class="form-cont">
            <h1>Add Task Here</h1>
            <form action="/load" method="POST" class="scrum-add">
                {% csrf_token %}
                <input type="text" name="task" placeholder="task" id="nameo">
                <select id="prio" name="priority">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select> <input type="submit" value="add">
            </form>
        </div>
    </div>
</body>

</html>