* {
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: rgb(255, 255, 98);
    display: flex;
    align-items: center;
}

.header {
    font-size: 11vh;
}

.whole-bag {
    margin-top: 8vh;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.scrum-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 60vh;
    justify-content: space-evenly;
}

.scrum-boxes {
    width: 27%;
    display: flex;
    flex-direction: column;
}

.btns {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 1.5vh;
}

.link {
    background-color: rgb(57, 228, 57);
    text-decoration: none;
    color: black;
    font-size: 3vh;
    padding: .9vh 1.7vw;
    text-align: center;
}

.link:hover {
    cursor: pointer;
}

.scrum-box {
    width: 27vw;
    height: 47vh;
    background-color: whitesmoke;
    border-radius: 1vw;
    border: solid .7vw black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
}

.status {
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-size: 3.5vh;
}

.refresh {
    margin-left: .5vw;
}

.btn {
    height: 5vh;
}

.btn:hover {
    cursor: pointer;
}

.scrum-alt {
    margin-right: 5vw;
}

.form-cont {
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    padding: .5vh 1vw;
    font-size: 2.5vh;
}

select {
    padding: .5vh 1vw;
    font-size: 2.5vh;
}

.task-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.box {
    font-size: 3vh;
    padding: 1vh 1vw;
    color: black;
    margin-top: 1vw;
    margin-left: 1.5vw;
}

.a0 {
    background-color: rgb(255, 53, 53);
}

.a1 {
    background-color: rgb(255, 145, 0);
}

.a2 {
    background-color: yellow;
}

.a3 {
    background-color: greenyellow;
}